.nav-link{
    color: white !important;
    margin:  25px;
}
.nav-link:hover{
    color: #1abc9c !important;
}
.active{
    background-color: #fdba74 !important;    
    border-radius: 4%;
    padding: 10px 20px !important;
}
.active:hover{
    color: white !important;
}
