.nav-link{
    color: white !important;
    
}
.nav-link:hover{
    color: !important;
}
.active{
    background-color: rgb(242 151 36) !important;    
    border-radius: 4%;
    padding: 10px 20px !important;
}
.active:hover{
    color: white !important;
}
